* {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
    body{
        font-family: Arial, Helvetica, sans-serif;
           background-image: linear-gradient( 
       0deg
        , #101010 0%, #6474a0 74%);
    
       }
       header{
        margin-bottom: 20px;
        border: brown 5px solid;

        position: sticky;
        top: 0;
        background-image: linear-gradient( 
        300deg
         , #8a4545 0%, #0b1736 74%);
       }
       h1{
           font-size: 50px;
           text-align: center;
         color: cornsilk;
         display: inline-block;
         position:absolute;
         margin-left: 29%;
         margin-top: 20px;
       }
       header:hover{ background-image: linear-gradient( 
        270deg
         , #101010 0%, #6474a0 74%);

       }
       header img {width: 100px;
    height: 100px;
border:2px solid black ;
border-radius: 67px;
margin-left: 20px;
}

#left {
   
    float: left;
    width: 75%;
    padding: 20px;
  }
  #s2 {
   
    padding: 20px;
    float: right;
    width: 25%;
  }
  .placeholder {
    width: 100%;}
  .placeholder {
  margin: 15px;
  }
  footer {
    clear: both;
  
    padding: 20px;
    font-weight: bolder;
  }
  footer p {
    text-align: center;
  }
  p {
    font-weight: bold;
    text-align: justify;
    font-size: 18px;
  }
  h2 {text-align: center;
    font-weight: bold;
    font-size: 40px;
    border: solid 1px brown;
    border-radius: 67px;
    background-image: linear-gradient( 
  270deg
   , #191f6b 0%, #ac5726 74%);
margin-top: 10px;
margin-bottom: 10px;
  }
h2:hover{background-image: linear-gradient( 
  300deg
   , #8a4545 0%, #0b1736 74%);}
   h3{text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: solid 1px brown;
    border-radius: 67px;
    background-image: linear-gradient( 
  270deg
   , #191f6b 0%, #ac5726 74%);
margin-top: 10px;
margin-bottom: 10px;
   }
   h3:hover{background-image: linear-gradient( 
    300deg
     , #8a4545 0%, #0b1736 74%);}
     li{ font-weight: bold;
      font-size: 20px;
margin: 10px;
     }
     nav{
      text-align: center;
      font-weight: bold;
      font-size: 40px;
      border: solid 1px rgb(157, 204, 28);
      border-radius: 67px;
      background-image: linear-gradient( 
    270deg
     , #98c03b 0%, #fc1515 74%);
  margin-top: 10px;
  margin-bottom: 10px;
     }
     nav:hover{background-image: linear-gradient( 
      300deg
       , #dd1515 0%, #ccba19 74%);}
       li{ font-weight: bold;
        font-size: 20px;
  margin: 10px;




     }
    nav a{color: rgb(203, 218, 228);

     }
    
